<!DOCTYPE html>
<html>

    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="script.js"></script>
    </head>

    <body ng-app="myapp" ng-controller="MainCtrl">
        <div class="container">
            <div class="well" style="margin-top:2em;">
                <div>
                    <table class="table">
                        <thead >
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>NOMBRE CORTO</th>
                        <th>DESDE</th>
                        <th>HASTA</th>
                        <th>CATEGORIA</th>
                        <th style="text-align: center">Operación</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <input type="text" ng-model="id" class="form-control" placeholder="COD">
                                </td>
                                <td class="col-md-4">
                                    <input type="text" ng-model="displayname" class="form-control" placeholder="Nombre">
                                </td>
                                <td class="col-md-4">
                                    <input type="text" ng-model="shortname" class="form-control" placeholder="Nombre Corto">
                                </td>
                                <td class="col-md-4">
                                    <input type="text" ng-model="startdate" class="form-control" placeholder="Inicio">
                                </td>
                                 <td class="col-md-4">
                                    <input type="text" ng-model="enddate" class="form-control" placeholder="FIN">
                                </td>
                                <td class="col-md-4">
                                    <input type="text" ng-model="categoria" class="form-control" placeholder="Categoria">
                                </td>
                            </tr>
                            <tr ng-repeat="rl in materias track by $index">
                                
                                
                                <tr data-ng-repeat="rl in materias track by $index | filter:{'cod': id} | filter:{'nom': displayname} | filter:{'short': shortname} | filter:{'start': startdate} | filter:{'end': enddate} | filter:{'cate':categoria} | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage">
                                
                                <td>{{rl.id}}</td>
                                <td>{{rl.displayname}}</td>
                                <td>{{rl.shortname}}</td>
                                <td>{{rl.startdate}}</td>
                                <td>{{rl.enddate}}</td>
                                <td>{{rl.categoria}}</td>
                            </tr>
                                
                                <td>
                        <center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                            <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul uib-pagination 
                        total-items="(people | filter:{'cod': id} | filter:{'nom': displayname} | filter:{'short': shortname} | filter:{'start': startdate} | filter:{'end': enddate} | filter:{'cate':categoria}).length" 
                        items-per-page="itemsPerPage"
                        boundary-links="true" ng-model="currentPage"></ul>
                </div>
            </div>
        </div>

    </body>

</html>