<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>SENSORES
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Sensores</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div>  

<div id="mainMenu" class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>DESCRIPCION:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Descripcion" ng-model="filterText"></td>
                                <td><label>FECHA:</label></td>
                                <td><input type="date" class="form-control input-sm" placeholder="Búsqueda de Fecha" id="fecha" ng-model="fecha"></td>
                                <td>
                                    <button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>&nbsp;&nbsp;
                                    <!--</td>-->
                                    <!--<td>-->
                                    <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>&nbsp;&nbsp;
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >
                <th>#</th>
                <th>Descripción</th>
                <th style="text-align: center">Valor</th>
                <th>Edificio</th>
                <th>Placa</th>
                <th>Ip</th>
                <th>Componente</th>
                <th>Usuario Alta</th>
                <th>Fecha</th>
                <th>Hora</th> 
                <th style="text-align: center">Estado</th>
                <th style="text-align: center">Detalles</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody>
                    <tr ng-repeat="rl in sensores">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descripcion}}</td>
                        <!--estadoComponente ORIGINAL-->  
                        <td ng-if="rl.valor > 0"> 
                <center><span class="label label-success">{{rl.valor}}</span></center>
                <!--<img src="../../../img/good.png" style="width: 24px;" alt=""/>-->
                </td>
                <!--estadoComponente ORIGINAL-->  
                <td ng-if="rl.valor === 0 || rl.valor === null"> 
                <center><span class="label label-default">-</span></center>
                <!--<img src="../../../img/error.gif" style="width: 22px;" alt=""/>-->
                </td>
                <td>{{rl.nodo.edificio.descriEdificio}}</td>
                <td>{{rl.nodo.placa.descriPlaca}}</td>
                <td>{{rl.nodo.placa.ipPlaca}}</td>
                <td>{{rl.nodo.componente.descriComponente}}</td>
                <td>{{rl.usuario}}</td>
                <td>{{rl.fecha}}</td>
                <td>{{rl.hora}}</td>
                <td ng-if="rl.estado === true"> 
                <center><span class="label label-success">Activo</span></center>
                <!--<img src="../../../img/good.png" style="width: 24px;" alt=""/>-->
                </td>
                <!--estadoComponente ORIGINAL-->  
                <td ng-if="rl.estado === false"> 
                <center><span class="label label-default">Inactivo</span></center>
                <!--<img src="../../../img/error.gif" style="width: 22px;" alt=""/>-->
                </td>
                <td><center><button class="btn btn-danger btn-sm" ng-click="detalle(rl)"><span class="glyphicon glyphicon-search"></span></button></center></td>
                <td>
                <center>
                    <button class="btn btn-primary btn-sm" disabled ng-if="rl.componente.tipoComponente.idTipoComp === 2"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ng-if="rl.componente.tipoComponente.idTipoComp !== 2"><span class="glyphicon glyphicon-pencil"></span></button>
                </center>
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addSensores" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Confirmar el Registro de Sensores</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/update-key.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>
            <input type="hidden" id="idEdi">

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Nodo</label></div>
                        <div class="col-md-10"><div custom-select="c for c in nestedItemsLevelNodo | filter: $searchTerm" custom-select-options="sensorAgregar.nodo" ng-change="change()" ng-model="idNodo"></div></div>
                        <br>
                        <!--<br>-->
                        <div class="col-md-2"><label>Edificio</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" required disabled="disabled" ng-model="sensorAgregar.edificio"></div>
                        <br>
                        <!--<br>-->
                        <div class="col-md-2"><label>Dependencia</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" required disabled="disabled" ng-model="sensorAgregar.dependencia"></div>
                        <br>
                        <!--<br>-->
                        <div class="col-md-2"><label>Componente</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" required disabled="disabled" ng-model="sensorAgregar.componente"></div>
                        <br>
                        <!--<br>-->
                        <div class="col-md-2"><label>Valor</label></div>
                        <div class="col-md-2"><input type="number" class="form-control" id="valorAdd" required ng-model="sensorAgregar.valor"></div>
                    </div>

                    <!--<center><b>ROLES</b></center>-->
                    <br>
                    <br>
                    <!--NEW-->
                    <div id="listBox" style="cursor: pointer">
                        <div class="dual-list list-left col-md-5">
                            <div class="well text-right">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAll1"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto; cursor: pointer;">
                                    <ul class="list-group">
                                        <span ng-repeat="r in nodos track by r.idNodo">
                                            <li class="list-group-item">
                                                {{r.descriNodo}}<input type="hidden" id="dato{{r.descriNod}}" value="{{r.idNodo}}"></li>
                                        </span>                                    
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="list-arrows col-md-1 text-center">
                            <button class="btn btn-default btn-sm move-left" ng-click="back()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>

                            <button class="btn btn-default btn-sm move-right">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>

                        <div class="dual-list list-right col-md-5">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAll2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto; cursor: pointer;">
                                    <ul class="list-group" id="listSeleccionado">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FINISH NEW-->

                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="nodoModificar.idNodo">
                        <div class="col-md-2"><label>Descripción</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="nodoModificar.descriNodo"></div>
                        <div class="col-md-2"><label>Estado</label></div>                                                               
                        <div class="col-md-10" style="text-align: left"><input type="checkbox" class="form-control" id="estadoNod" ng-model="nodoModificar.estadoNodo"></div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregarNodoPin" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de Nodo Pin</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" id="descripcionTipoComp">
                        <div class="col-md-2"><label>Pin</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPlacaPin | filter: $searchTerm" custom-select-options="nodoPinAgregar.tipoPlacaPin" ng-model="idTipoPlacaPin"></div></div>
                        <!--                        <div class="col-md-2"><label>Categoría</label></div>
                                                <div class="col-md-8"><div custom-select="g for g in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="tarifaAgregar.andeCategoria" ng-model="idAndeCat"></div></div>-->
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrarNodoPin()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalAgregarPulsador" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro del Pulsador</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Pulsador</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPlacaPin | filter: $searchTerm" custom-select-options="nodoPinAgregar.tipoPlacaPin" ng-model="idTipoPlacaPin"></div></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrarPulsador()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>

<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Detalles</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;">
                        <thead >
                        <th>#</th>
                        <th style="text-align: center">Nodo</th>
                        <th style="text-align: center">Edificio</th>
                        <th style="text-align: center">Dependencia</th>
                        <th style="text-align: center">Ip</th>
                        <th style="text-align: center">Componente</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rl in sensorNodoDetalle">
                                <td>{{$index + 1}}</td>
                                <td><center>{{rl.nodo.descriNodo}}</center></td>
                                <td><center>{{rl.nodo.edificio.descriEdificio}}</center></td>
                        <td><center>{{rl.nodo.dependencia.descriDependencia}}</center></td>
                        <td><center>{{rl.nodo.placa.ipPlaca}}</center></td>
                        <td><center>{{rl.nodo.componente.descriComponente}}</center></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="salirModal()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Salir</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="updateSensores" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Confirmar la Actualización de Sensores</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/update-key.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atrasite()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>
            <input type="hidden" id="idEdi">

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" id="modIdNodo">
                        <input type="hidden" id="idSensor">
                        <div class="col-md-2"><label>Nodo</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" required disabled="disabled" ng-model="sensorModificar.nodo"></div>
                        <br>
                        <!--<br>-->
                        <div class="col-md-2"><label>Edificio</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" required disabled="disabled" ng-model="sensorModificar.edificio"></div>
                        <br>
                        <!--<br>-->
                        <div class="col-md-2"><label>Dependencia</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" required disabled="disabled" ng-model="sensorModificar.dependencia"></div>
                        <br>
                        <!--<br>-->
                        <div class="col-md-2"><label>Componente</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" required disabled="disabled" ng-model="sensorModificar.componente"></div>
                        <br>
                        <div class="col-md-2"><label>Estado</label></div>
                        <div class="col-md-2"><input type="checkbox" class="form-control" required id="estadoSensor"></div>
                        <div class="col-md-6"><input style="display: none" type="checkbox" class="form-control" required ></div>
                        <div class="col-md-2"><input type="checkbox" id="none" class="form-control" required></div>
                        <!--<br>-->

                        <!--<br>-->


                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Valor</label></div>
                        <div class="col-md-2"><input type="number" class="form-control" id="valorUpdate" required ng-model="sensorModificar.valor"></div>
                        <br>
                    </div>
                    <br>
                    <br>
                    <!--NEW-->
                    <div id="listBoxModificar" style="cursor: pointer">
                        <div class="dual-list list-left col-md-5">
                            <div  class="well text-right">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAllUpdate1"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div  class="well" style="max-height: 300px;overflow: auto;">
                                    <ul class="list-group">
                                        <div id="primeraLista">
                                            <span ng-repeat="r in nodos track by r.idNodo">
                                                <li class="list-group-item">
                                                    {{r.descriNodo}}<input type="hidden" id="datoUpdate{{r.descriNod}}" value="{{r.idNodo}}"></li>
                                            </span>    
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="list-arrows col-md-1 text-center">
                            <button class="btn btn-default btn-sm move-left" ng-click="backUpdate()">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>

                            <button class="btn btn-default btn-sm move-right">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>

                        <div class="dual-list list-right col-md-5">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked" id="checkAllUpdate2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="well" style="max-height: 300px;overflow: auto;">
                                    <ul class="list-group" id="listSeleccionadoUpdate">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FINISH NEW-->

                </div>
                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
