<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Modulos
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Novedades</h1>
    </div>
</div><!--/.row-->    

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Lista de Modulos</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>
            <!--<div class="panel-heading">Lista de Modulos <button type="button" ng-click="agregar()" class=" btn-sm btn-primary" data-toggle="modal" data-target="#modalAgregar">Agregar</button><span>&nbsp;</span><button type="button" ng-click="modificar()" class=" btn-sm btn-primary">Modificar</button></div>-->
            <div class="panel-body">
                <div class="canvas-wrapper">
                    <div class="table-responsive">

                        <input type="text" class="form-control" placeholder="Filtro de Búsqueda por Modulos" ng-model="filterText">

                        <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;">

                            <thead >

                            <th>#</th>
                            <th>Descripción</th>
                            <th style="text-align: center">Operación</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rl in filterData = (modulos| filter : {descripcionModulo: filterText}) | limitTo:10:10*(page-1)">
                                    <!--                                <tr ng-repeat="rl in modulos">-->
                                    <td>{{$index + 1}}</td>
                                    <td>{{rl.descripcionModulo}}</td>
                                    <td>
                            <center><button class="btn btn-primary btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                                <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <center>
                            <uib-pagination class="pagination-sm pagination" total-items="accesos.length" ng-model="page"
                                            ng-change="pageChanged()" size="5" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10></uib-pagination>
                            <!--                        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-click="siguiente()"></ul>
                                                    <pre>Página: {{bigCurrentPage}} / {{numPages}}</pre>-->
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->


<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="moduloAgregar.descripcionModulo"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="moduloModificar.idModulo">
                        <div class="col-md-2"><label>Descripción:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="moduloModificar.descripcionModulo"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
