<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Administración de Edificios
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Lista de Usuarios por Edificio</h2>
    </div>
</div><!--/.row-->    

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <!--<div class="col-lg-8"><div class="panel-heading">Lista de Usuarios por Edificio</div></div>-->
                    <!--<h3 class="panel-title">Lista de Marcas</h3>-->
                </div>
                <div class="col col-xs-6 text-right">
                    <div class="col-lg-10">
                        <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                    </div>
                    <div class="col-lg-2">
                        <!--<div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                    </div>
                </div>
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>USUARIO:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Usuario" ng-model="filterText"></td>
                                <td><label>NOMBRE:</label></td>
                                <td><input type="text" class="form-control input-sm" id="nombre" placeholder="Búsqueda por Nombre" ng-model="nomUsu"></td>
                                <td><label>APELLIDO:</label></td>
                                <td><input type="text" class="form-control input-sm" id="apellido" placeholder="Búsqueda por Apellido" ng-model="apeUsu"></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                                    <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead>
                <th>#</th>
                <th>Usuarios</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th><center>Edificios</center></th>
                <th><center>Detalles</center></th>
                </thead>
                <tbody>
                    <tr ng-repeat="ca in usuario | orderBy:'usuarioUsuario'">
                        <td>{{$index + 1}}</td>
                        <!--<td style="display: none">{{ca.idUsuario}}</td>-->
                        <td>{{ca.usuarioUsuario}}</td>
                        <td>{{ca.persona.nombrePersona}}</td>
                        <td>{{ca.persona.apellidoPersona}}</td>
                        <td ng-if="ca.estado === true"> <center>
                    <!--<img src="../../../img/good.png" style="width: 24px;" alt=""/>-->
                    <span class="label label-success">Activo</span>
                </center></td>
                <td ng-if="ca.estado === false"><center> 
                    <span class="label label-default">Inactivo</span>
                    <!--<img src="../../../img/error.gif" style="width: 24px;" alt=""/>-->
                </center>
                </td>
                <td><center> 
                    <!--<button class="btn btn-danger btn-sm" ng-click="eliminar(ca)" ><span class="glyphicon glyphicon-trash"></span></button>-->
                    <button class="btn btn-primary btn-sm" ng-click="detalle(ca)" ><span class="glyphicon glyphicon-search"></span></button>
                </center></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--    <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="col-lg-6"><div class="panel-heading">Lista de Usuarios por Edificio</div></div>
                        <h3 class="panel-title">Lista de Marcas</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <div class="col-lg-10">
                            <div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                        </div>
                                            <button type="button" class="btn btn-sm btn-primary btn-create">Nuevo</button>
                                            <button type="button" class="btn btn-sm btn-primary btn-create">Salir</button>
                    </div>
                    <div class="col col-xs-12">
                        <table class="table">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label>USUARIO:</label></td>
                                    <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Usuario" ng-model="filterText"></td>
                                    <td><label>NOMBRE:</label></td>
                                    <td><input type="text" class="form-control input-sm" id="nombre" placeholder="Búsqueda por Nombre" ng-model="nomUsu"></td>
                                    <td><label>APELLIDO:</label></td>
                                    <td><input type="text" class="form-control input-sm" id="apellido" placeholder="Búsqueda por Apellido" ng-model="apeUsu"></td>
                                    <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                                        <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="mytable" class="table table-bordred table-striped">
    
                    <thead>
                    <th>Usuarios</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edificios</th>
                    <th><center>Detalles</center></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ca in usuario">
                            <td>{{ca.usuarioUsuario}}</td>
                            <td>{{ca.persona.nombrePersona}}</td>
                            <td>{{ca.persona.apellidoPersona}}</td>
                            <td ng-if="ca.estado === true"> 
                                <img src="../../../img/good.png" style="width: 24px;" alt=""/>
                                <span class="label label-success">Activo</span>
                            </td>
                            <td ng-if="ca.estado === false"> 
                                <span class="label label-default">Inactivo</span>
                                <img src="../../../img/error.gif" style="width: 24px;" alt=""/>
                            </td>
                            <td><center> 
                        <button class="btn btn-primary btn-sm" ng-click="eliminar(ca)" ><span class="glyphicon glyphicon-trash"></span></button>
                        <button class="btn btn-primary btn-sm" ng-click="detalle(ca)" ><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </center></td>
                    </tr>
                    </tbody>
                </table>
    
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col col-xs-4">
                    </div>
                    <div class="col col-xs-8">
                        <div class="col col-xs-12">
                        <div>
                            <input type="hidden" id="paginaActual" value="0">
                            <center>
                                <pagination 
                                    total-items="totalItems" 
                                    ng-model="currentPage" 
                                    ng-change="pageChangedFiltro()"
                                    boundary-links="true"
                                    id="paginacionFiltro" style="display: none"
                                    max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
    
                                </pagination>
                                <pagination 
                                    total-items="totalItems" 
                                    ng-model="currentPage"
                                    style="display: none"
                                    ng-change="pageChangedSinFiltro()"
                                    id="paginacionSinFiltro"
                                    boundary-links="true"
                                    max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                                </pagination>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
</div><!--/.row-->


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" ng-model="idUsu">
                <div class="form-group">
                    <label>Nombre:</label> {{nomPer}}
                </div>
                <div class="form-group">
                    <label>Apellido:</label> {{apePer}}
                </div>
                <div class="form-group">
                    <label>Email</label> {{emailPer}}
                </div>
                <div class="form-group">
                    <label>Nombre Usuario: </label> {{nomUsu}}
                </div>
                <div class="form-group">
                    <label>Huella Digital:   </label> <input type="checkbox" id="fingerPrint" name="fingerPrint" />
                </div>
            </div>

            <div class="modal-footer ">
                <span id="mensajeEnvio"></span>
                <button type="button" id="confirmar_fingerPrint" ng-click="confirmacion()" ng-show="show" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Detalles - {{usuUser}} - {{usuNomApe}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table id="mytableDetalle" class="table table-bordred table-striped" style="font-size: 12px;">
                        <input type="hidden" id="idUsu">
                        <input type="hidden" id="numMax">
                        <thead >
                        <th>#</th>
                        <th style="text-align: center">Edificio</th>
                        <th style="text-align: center">Estados</th>
                        </thead>
                        <tbody id="tablaDetalle">
                            <!--<tr></tr>-->
                            <!--<tr>-->
                            <!--                        <tbody id="tablaDetalle">
                                                        <tr ng-repeat="rl in edificios">
                                                            <td>{{$index + 1}}</td>
                                                            <td><center>{{rl.descriEdificio}}</center></td>
                                                    <center><td id="rl.idEdificio"></td></center>-->
                            <!--<td>-->
                            <!--                        <center>
                                                        <td ng-click='alert("GOL")'> 
                                                            <input type="text" value="{{rl.idEdificio}}">
                                                            <input type="checkbox" ng-checked="{{rl.estadoEdificio}}" id="cb{{rl.idEdificio}}">
                                                        </td>
                                                    </center>-->
                            <!--                        <center>
                                                        <td ng-if="rl.estadoEdificio === false"> 
                                                            <input type="text" value="{{rl.idEdificio}}">
                                                            <input type="checkbox" ng-checked="false" id="cb{{rl.idEdificio}}" value="false">
                                                            
                                                        </td>
                                                    </center>-->
                            <!--</td>-->
                            <!--</tr>-->
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer ">
                    <!--<button type="button" ng-click="salir()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Salir</button>-->
                    <button type="button" ng-click="registrarUsuarioEdificio()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
            function cambioChkUsuEdi(id) {
//                alert($("#" + id).val());
                if ($("#" + id).val() + "" === "false") {
                    $("#" + id).val("true");
                } else if ($("#" + id).val() + "" === "true") {
                    $("#" + id).val("false");
                }
//                alert($("#" + id).val());
            }
</script>
