<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Materias
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Listado de Materias Activas</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div><!--/.row-->    

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-body">
            <div class="well" style="margin-top:2em;">
                <div>
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th class="col-md-1">COD</th>
                                <th class="col-md-3">DESCRIPCION</th>
                                <th class="col-md-1">CORTO</th>
                                <th class="col-md-2">INICIO</th>
                                <th class="col-md-2">FIN</th>
                                <th class="col-md-2">CATEGORIA</th>
                                <th class="col-md-1">OPERACION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-1">
                                    <input type="text" ng-model="idFilter" class="form-control" placeholder="Código">
                                </td>
                                <td class="col-md-3">
                                    <input type="text" ng-model="displaynameFilter" class="form-control" placeholder="Descripción">
                                </td>
                                <td class="col-md-1">
                                    <input type="text" ng-model="shortnameFilter" class="form-control" placeholder="Corto">
                                </td>
                                <td class="col-md-2">
                                    <input type="text" ng-model="startdateFilter" class="form-control" placeholder="Inicio">
                                </td>
                                <td class="col-md-2">
                                    <input type="text" ng-model="enddateFilter" class="form-control" placeholder="Fin">
                                </td>
                                <td class="col-md-2">
                                    <input type="text" ng-model="categoriaFilter" class="form-control" placeholder="Categoría">
                                </td>
                                <td class="col-md-1">
                                    <input type="text" disabled="" ng-model="categoriaFilter" class="form-control" placeholder="Operación">
                                </td>
                            </tr>
                            <tr data-ng-repeat="person in people| filter:{'id': idFilter} | filter:{'displayname':displaynameFilter} | filter:{'shortname':shortnameFilter}  |filter:{'startdate': startdateFilter} | filter:{'enddate':enddateFilter} | filter:{'categoria':categoriaFilter} | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage">

                                <td class="col-md-1" >{{person.id}}</td>
                                <td class="col-md-3" >{{person.displayname}}</td>
                                <td class="col-md-1" >{{person.shortname}}</td>
                                <td class="col-md-2" >{{person.startdate}}</td>
                                <td class="col-md-2" >{{person.enddate}}</td>
                                <td class="col-md-2" >{{person.categoria}}</td>
                                <td class="col-md-1">
                        <center>
                            <!--<button class="btn btn-danger btn-sm" ng-click="eliminar(person)" ><span class="glyphicon glyphicon-trash"></span></button>-->
                            <button class="btn btn-primary btn-sm" ng-click="modificar(person)" ><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger btn-sm" ng-click="agregarEnrol(person)" ><span class="glyphicon glyphicon-plus"></span></button></center>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul uib-pagination 
                        total-items="(people | filter:{'id': idFilter} | filter:{'displayname':displaynameFilter} | filter:{'shortname':shortnameFilter}  |filter:{'startdate': startdateFilter} | filter:{'enddate':enddateFilter} | filter:{'categoria':categoriaFilter}).length" 
                        items-per-page="itemsPerPage"
                        boundary-links="true" ng-model="currentPage"></ul>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">

                        <!--                        <div style="text-align: center" id="paginacionesPersonas" >
                                                </div>-->

                        <pagination 
                            total-items="totalItems" 
                            ng-model="currentPage" 
                            ng-change="pageChangedFiltro()"
                            boundary-links="true"
                            id="paginacionFiltro" style="display: none"
                            max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                        </pagination>
                        <pagination 
                            total-items="totalItems" 
                            ng-model="currentPage"
                            style="display: none"
                            ng-change="pageChangedSinFiltro()"
                            id="paginacionSinFiltro"
                            boundary-links="true"
                            max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmación de Registro </h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Nombre:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.nombre"></div>
                        <div class="col-md-2"><label>Corto:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaAgregar.corto"></div>

                        <div class="col-md-2"><label>Categ 1:</label></div>
                        <div class="col-md-10">
                            <select class="form-control" id="primeraCategoria">
                                <option value="0"></option>
                                <option value="146">Facultades</option>
                                <option value="147">Postgrado</option>
                            </select>
                        </div>

                        <div id='cateTwo' style="display: none" class="col-md-2"><label>Categ 2:</label></div>
                        <div id='cateTwoS' style="display: none" class="col-md-10">
                            <div custom-select="t for t in cate2 | filter: $searchTerm" custom-select-options="personaAgregar.cate2" ng-model="idCate2" ng-change="segundaCategoria()"></div>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="ocultarCate2()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>

                        <div id='cateThree' style="display: none" class="col-md-2"><label>Categ 3:</label></div>
                        <div id='cateThreeS' style="display: none" class="col-md-10">
                            <div custom-select="t for t in cate3 | filter: $searchTerm" custom-select-options="personaAgregar.cate3" ng-model="idCate3" ng-change="terceraCategoria()"></div>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="ocultarCate3()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div id='cateFour' style="display: none" class="col-md-2"><label>Categ 4:</label></div>
                        <div id='cateFourS' style="display: none" class="col-md-10">
                            <div custom-select="t for t in cate4 | filter: $searchTerm" custom-select-options="personaAgregar.cate4" ng-model="idCate4" ng-change="cuartaCategoria()"></div>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="ocultarCate4()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div id='cateFive' style="display: none" class="col-md-2"><label>Categ 5:</label></div>
                        <div id='cateFiveS' style="display: none" class="col-md-10">
                            <div custom-select="t for t in cate5 | filter: $searchTerm" custom-select-options="personaAgregar.cate5" ng-model="idCate5" ng-change="quintaCategoria()"></div>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="ocultarCate5()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>


                        <div class="col-md-2"><label>Visible:</label></div>
                        <div class="col-md-10">
                            <select class="form-control" id="visible" ng-model="personaAgregar.visible">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>


                        <div class="col-md-2"><label>Inicio:</label></div>
                        <div class="col-md-10"><input type="date" class="form-control" ng-model="personaAgregar.inicio"></div>
                        <div class="col-md-2"><label>Fin:</label></div>
                        <div class="col-md-10"><input type="date" class="form-control" ng-model="personaAgregar.fin"></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Nombre:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.nombre"></div>
                        <div class="col-md-2"><label>Corto:</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" ng-model="personaModificar.corto"></div>

                        <div class="col-md-2"><label>Categ 1:</label></div>
                        <div class="col-md-10">
                            <select class="form-control" id="primeraCategoriaMod">
                                <option value="0"></option>
                                <option value="146">Facultades</option>
                                <option value="147">Postgrado</option>
                            </select>
                        </div>

                        <div id='cateTwoMod' style="display: none" class="col-md-2"><label>Categ 2:</label></div>
                        <div id='cateTwoSMod' style="display: none" class="col-md-10">
                            <div custom-select="t for t in cate2Mod | filter: $searchTerm" custom-select-options="personaModificar.cate2" ng-model="idCate2Mod" ng-change="segundaCategoriaMod()"></div>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="ocultarCate2Mod()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>

                        <div id='cateThreeMod' style="display: none" class="col-md-2"><label>Categ 3:</label></div>
                        <div id='cateThreeSMod' style="display: none" class="col-md-10">
                            <div custom-select="t for t in cate3Mod | filter: $searchTerm" custom-select-options="personaModificar.cate3" ng-model="idCate3Mod" ng-change="terceraCategoriaMod()"></div>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="ocultarCate3Mod()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div id='cateFourMod' style="display: none" class="col-md-2"><label>Categ 4:</label></div>
                        <div id='cateFourSMod' style="display: none" class="col-md-10">
                            <div custom-select="t for t in cate4Mod | filter: $searchTerm" custom-select-options="personaModificar.cate4" ng-model="idCate4Mod" ng-change="cuartaCategoriaMod()"></div>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="ocultarCate4Mod()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div id='cateFiveMod' style="display: none" class="col-md-2"><label>Categ 5:</label></div>
                        <div id='cateFiveSMod' style="display: none" class="col-md-10">
                            <div custom-select="t for t in cate5Mod | filter: $searchTerm" custom-select-options="personaModificar.cate5" ng-model="idCate5Mod" ng-change="quintaCategoriaMod()"></div>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="ocultarCate4Mod()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>


                        <div class="col-md-2"><label>Visible:</label></div>
                        <div class="col-md-10">
                            <select class="form-control" id="visibleMod">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>


                        <div class="col-md-2"><label>Inicio:</label></div>
                        <div class="col-md-10"><input type="date" id='inicioMod' class="form-control" ></div>
                        <div class="col-md-2"><label>Fin:</label></div>
                        <div class="col-md-10"><input type="date" id='finMod' class="form-control" ></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>

<div class="modal fade" id="modalEnrol" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el registro de Matriculación</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Código:</label></div>
                        <div class="col-md-10"><input type="text" disabled="" class="form-control" ng-model="enrol.id"></div>
                        <div class="col-md-2"><label>Nombre:</label></div>
                        <div class="col-md-10"><input type="text" disabled="" class="form-control" ng-model="enrol.displayname"></div>

                        <div class="col-md-2"><label>Usuario:</label></div>
                        <div class="col-md-10">
                            <div custom-select="c for c in usuariosEnrol | filter: $searchTerm track by $index" custom-select-options="enrol.usuario" ng-model="idUsuario"></div>
                            
                        </div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrarEnrol()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
