<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Finger Print
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Usuarios con Finger Print</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <!--<div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
            <div class="col-lg-1">
                <!--<div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
            </div>
        </div>
    </div>
</div>      

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>USUARIO:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Usuario" ng-model="filterText"></td>
                                <td><label>NOMBRE:</label></td>
                                <td><input type="text" class="form-control input-sm" id="nombre" placeholder="Búsqueda por Nombre" ng-model="nomUsu"></td>
                                <td><label>APELLIDO:</label></td>
                                <td><input type="text" class="form-control input-sm" id="apellido" placeholder="Búsqueda por Apellido" ng-model="apeUsu"></td>
                                <!--                                <td><label>FECHA:</label></td>
                                                                <td><input type="date" class="form-control input-sm" id="fecha" placeholder="Fecha Inicio YYYY-MM-DD" id="fecIni" ng-model="fecha"></td>-->
                                <!--                                    <td><label>FEC FIN:</label></td>
                                                                    <td><input type="date" class="form-control input-sm" placeholder="Fecha Fin YYYY-MM-DD" id="fecFin" ng-model="fecFin"></td>-->
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button>
                                    <!--<button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>-->
                                    <!--<button type="button" ng-click="reporte()" class="btn-default btn-sm">Reporte</button></td></tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead>

                <th>Usuarios</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Alta</th>
                <th><center>Detalles</center></th>
                <th><center>Reenviar</center></th>
                <th><center>Operación</center></th>
                </thead>
                <tbody>
                    <tr ng-repeat="ca in controlAcceso">
                        <td>{{ca.usuario.usuarioUsuario}}</td>
                        <td>{{ca.usuario.persona.nombrePersona}}</td>
                        <td>{{ca.usuario.persona.apellidoPersona}}</td>
                        <td>{{ca.fechaAlta| date:'yyyy-MM-dd'}}</td>
                        <td><center><button class="btn btn-primary btn-sm" ng-click="detalle(ca)" ><span class="glyphicon glyphicon-search"></span></button></center></td>
                        <td><center><button class="btn btn-primary btn-sm" ng-click="reenvio(ca)" ><span class="glyphicon glyphicon-refresh"></span></button></center></td>
                <td><center> <button class="btn btn-danger btn-sm" ng-click="eliminar(ca)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-primary btn-sm" ng-click="modificarDatos(ca)" ><span class="glyphicon glyphicon-plus-sign"></span></button>
                </center></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de {{nomPer}} {{apePer}}</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" ng-model="idUsu">
                <div class="form-group">
                    <label>Nombre:</label> {{nomPer}}
                </div>
                <div class="form-group">
                    <label>Apellido:</label> {{apePer}}
                </div>
                <div class="form-group">
                    <label>Email</label> {{emailPer}}
                </div>
                <div class="form-group">
                    <label>Nombre Usuario: </label> {{nomUsu}}
                </div>
                <div class="form-group">
                    <label>Huella Digital:   </label> <input type="checkbox" id="fingerPrint" name="fingerPrint" />
                </div>
            </div>

            <div class="modal-footer ">
                <span id="mensajeEnvio"></span>
                <button type="button" id="confirmar_fingerPrint" ng-click="confirmacion()" ng-show="show" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Detalles</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;">
                        <thead >
                        <th>#</th>
                        <th style="text-align: center">Edificio</th>
                        <th style="text-align: center">Dependencia</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rl in controlNodo">
                                <td>{{$index + 1}}</td>
                                <td><center>{{rl.nodo.edificio.descriEdificio}}</center></td>
                        <td><center>{{rl.nodo.dependencia.descriDependencia}}</center></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="salir()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Salir</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Registro de Accesos para Finger</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idControlInsertar">
                <div class="modal-body">

                    <table id="tableControlNodoInsertar" class="table table-bordred table-striped" style="font-size: 12px;">
                        <thead>
                        <th><center>#</center></th>
                        <th><center>Edificio</center></th>
                        <th><center>Dependencia</center></th>
                        <th><center>Agregar</center></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="n in nodoInsertar">
                                <td><center>{{$index + 1}}</center></td>
                        <td><center>{{n.edificio.descriEdificio}}</center></td>
                        <td><center>{{n.dependencia.descriDependencia}}</center></td>
                        <td><center><input type="checkbox" id="datasInsertar" value="{{n.idNodo}}"></center></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="modal-footer ">
                        <button type="button" ng-click="registrarControlNodo()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Eliminación de Accesos por Finger</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idControlEliminar">
                <div class="modal-body">
                    <table id="tableControlNodoEliminar" class="table table-bordred table-striped" style="font-size: 12px;">
                        <thead>
                        <th><center>#</center></th>
                        <th><center>Edificio</center></th>
                        <th><center>Dependencia</center></th>
                        <th><center>Eliminación</center></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cn in controlNodo">
                                <td><center>{{$index + 1}}</center></td>
                        <td><center>{{cn.nodo.edificio.descriEdificio}}</center></td>
                        <td><center>{{cn.nodo.dependencia.descriDependencia}}</center></td>
                        <td><center><input type="checkbox" id="datas" value="{{cn.nodo.idNodo}}"></center></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="modal-footer ">
                        <button type="button" ng-click="eliminarControlNodo()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
