.whatsappData {
  position:fixed;
  width:60px;
  height:60px;
  bottom:80px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp {
  margin-top:12px;
}
.facebookData {
  position:fixed;
  width:60px;
  height:60px;
  bottom:150px;
  right:40px;
  background-color:#1877f2;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.fb-icon {
  margin-top:12px;
}