<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Manejo de Controles
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Novedades</h1>
    </div>
</div>  

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-6"><div class="panel-heading">Estado de Componentes</div></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                </div>
                <div class="col-lg-1">
                    <div class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
                </div>
            </div>
            <!--<button type="button" ng-click="agregar()" class=" btn-sm btn-primary" data-toggle="modal" data-target="#modalAgregar">Agregar</button><span>&nbsp;</span><button type="button" ng-click="modificar()" class=" btn-sm btn-primary">Modificar</button></div>-->
            <div class="panel-body">
                <div class="canvas-wrapper">
                    <div class="example">
                        <div class="row">
                            <div id="nodoEstado" class="col-lg-6">
                                {{dato}} &nbsp;&nbsp;<a href="#">
                                    <img ng-click="cambiarEstado()" style="width: 24px; height: 24px;" src="../../../img/foco/{{estado}}.png" alt=""/>
                                </a>
                            </div></div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-1">
                            <!--<div class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>-->
                        </div>
                    </div>
                    <p>

                </div>

            </div>
            <input type="hidden" id="paginaActual" value="0">

            <div style="text-align: center" id="paginaciones" >

            </div>
        </div>
    </div>
</div>
<!--</div>-->





<!--EJEMPLO DE FILTROS POR FECHA: 
https://plnkr.co/edit/dfpsBI0uom5ZAEnDF3wM?p=preview
https://plnkr.co/edit/l4t4Fln4HhmZupbmOFki?p=preview

https://plnkr.co/edit/dfpsBI0uom5ZAEnDF3wM?p=preview
https://plnkr.co/edit/l4t4Fln4HhmZupbmOFki?p=preview-->
