<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li>Nodo Pin
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista de Nodo Pin</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div>  

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>NODO:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Nodo" ng-model="filterText"></td>
                                <td><label>PLACA:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Placa" ng-model="placa"></td>
                            </tr>
                            <tr>

                                <td><label>EDIFICIO:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Edificio" ng-model="edificio"></td>
                                <td><label>DEPENDENCIA:</label></th>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Dependencia" ng-model="dependencia"></td>
                                <td>
                                    <button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>&nbsp;&nbsp;
                                    <!--</td>-->
                                    <!--<td>-->
                                    <button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>&nbsp;&nbsp;
                                    <!--</td>-->
                                    <!--<td>-->
                                    <button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >
                <th>#</th>
                <th>Nodo</th>
                <th>Placa</th>
                <th>Ip</th>
                <th>Componentes</th>
                <th>Edificio</th>
                <th>Dependencia</th>
                <th style="text-align: center">Pines</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody>
                    <tr ng-repeat="rl in nodos">
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriNodo}}</td>
                        <td>{{rl.placa.descriPlaca}}</td>
                        <td>{{rl.placa.ipPlaca}}</td>
                        <td>{{rl.componente.descriComponente}}</td>
                        <td>{{rl.edificio.descriEdificio}}</td>
                        <td>{{rl.dependencia.descriDependencia}}</td>
                        <td><center><button class="btn btn-primary btn-sm" ng-click="detalle(rl)"><span class="glyphicon glyphicon-search"></span></button></center></td>
                <td><center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)"><span class="glyphicon glyphicon-trash"></span></button>&nbsp; </center></td>
                <!--                                    <td><center><button class="btn btn-primary btn-sm" ng-click="detalle(rl)" data-toggle="modal" data-target="#modalDetalles"><span class="glyphicon glyphicon-plus-sign"></span></button></center></td>-->
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <input type="hidden" id="paginaActual" value="0">
                        <!--                        <div style="text-align: center" id="paginacionesNodoPin" >
                                                </div>-->
                        <center>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de Nodo Pin</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Nodo</label></div>
                        <div class="col-md-10"><div custom-select="t for t in nestedItemsLevel1 | filter: $searchTerm" ng-change="onChanged()" custom-select-options="nodoPinAgregar.nodo" ng-model="idNodo"></div></div>
                        <div class="col-md-2"><label>Edificio</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriEdificio"></div>
                        <div class="col-md-2"><label>Placa</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriPlaca"></div>
                        <div class="col-md-2"><label>TipoPlaca</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriTipoPlaca"></div>
                        <div class="col-md-2"><label>Dependencia</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriDependencia"></div>
                        <div class="col-md-2"><label>Componente</label></div>
                        <div class="col-md-10"><input type="text" class="form-control" disabled ng-model="nodoPinAgregar.descriComponente"></div>
                        <input type="hidden" id="descripcionTipoComp">
                        <div class="col-md-2"><label>Pin</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPlacaPin | filter: $searchTerm" custom-select-options="nodoPinAgregar.tipoPlacaPin" ng-model="idTipoPlacaPin"></div></div>
                        <!--                        <div class="col-md-2"><label>Categoría</label></div>
                                                <div class="col-md-8"><div custom-select="g for g in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="tarifaAgregar.andeCategoria" ng-model="idAndeCat"></div></div>-->
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalAgregarPulsador" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro del Pulsador</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label>Pulsador</label></div>
                        <div class="col-md-10"><div custom-select="p for p in nestedItemsLevelPlacaPin | filter: $searchTerm" custom-select-options="nodoPinAgregar.tipoPlacaPin" ng-model="idTipoPlacaPin"></div></div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrarPulsador()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" ng-model="tarifaModificar.idTarifaAnde">
                        <div class="row">
                            <div class="col-md-2"><label>Mínimo</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="tarifaModificar.trafiaRangoMin"></div>
                            <div class="col-md-2"><label>Máximo</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="tarifaModificar.tarifaRangoMax"></div>
                            <div class="col-md-2"><label>Tarifa</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="tarifaModificar.tarifaGsKwh"></div>
                            <!--                            <div class="col-md-2"><label>Categoría</label></div>
                                                        <div class="col-md-8"><div custom-select="g for g in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="tarifaAgregar.andeCategoria" ng-model="idAndeCat"></div></div>-->
                        </div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Detalle de Pines</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table id="mytable" class="table table-bordred table-striped" style="font-size: 12px;">
                        <thead >
                        <th>#</th>
                        <th style="text-align: center">Pines</th>
                        <th style="text-align: center">Componente</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rl in nodoPin">
                                <td>{{$index + 1}}</td>
                                <td><center>{{rl.tipoPlacaPin.descriPin}}</center></td>
                        <td><center>{{rl.descriComp}}</center></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer ">
                    <button type="button" ng-click="salir()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Salir</button>
                </div>
            </div>
        </div>
    </div>
</div>
