.section_gap {
  padding: 0px 0;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
}

.section_gap_top {
  padding-top: 130px;
  @media (max-width: 991px) {
    padding-top: 70px;
  }
}

.section_gap_bottom {
  padding-bottom: 130px;
  @media (max-width: 991px) {
    padding-bottom: 70px;
  }
}

/* Main Title Area css
============================================================================================ */

.main_title {
  text-align: center;
  margin-bottom: 85px;
  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
  h2 {
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    @media (max-width: 575px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 0px;
    font-style: italic;
  }
}

.lite_bg {
  background: #f9f9f9;
}

/* End Main Title Area css
============================================================================================ */

/* Start Overlay css
============================================================================================ */
.overlay {
  position: relative;
}
.overlay:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -1;
}

/* End Overlay css
============================================================================================ */
