<!--<div class="container">-->
<div class="row">
    <ol class="breadcrumb">
        <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active"></li> Placas
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10"><h2 class="page-header">Lista Placas</h2></div>
            <!--<div class="col-lg-2"></div>-->
            <div class="col-lg-1">
                <div id="guardando" class="panel-heading"><a href="#" ng-click="agregar()" data-toggle="modal" data-target="#modalAgregar"><img src="../../../img/guardar.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
            <div class="col-lg-1">
                <div id="saliendo" class="panel-heading"><a href="#" ng-click="atras()" ><img src="../../../img/atras.png" style="width: 36px; height: 36px" alt=""/></a></div>
            </div>
        </div>
    </div>
</div>   

<div class="row">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>PLACA:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Placa" ng-model="filterText"></td>
                                <td><label>TIPO:</label></th>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de Tipo Placa" ng-model="tipo"></td>
                                <td><label>IP:</label></td>
                                <td><input type="text" class="form-control input-sm" placeholder="Búsqueda de IP" name="demoInput1" ng-model="ipAddress1" ng-ip-address></td>
                                <td><button type="button" ng-click="buscar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button></td>
                                <td><button type="button" ng-click="limpiar()" class="btn-default btn-sm"><span class="glyphicon glyphicon-erase"></span></button>
                                &nbsp;&nbsp;<button type="button" ng-click="generarReporte()" class="btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list" style="font-size: 12px;">
                <thead >

                <th>#</th>
                <th>Descripción</th>
                <th>Ip</th>
                <th>Tipo Placa</th>
                <th style="text-align: center">Operación</th>
                </thead>
                <tbody>
                    <tr ng-repeat="rl in placas">
                        <!--<tr ng-repeat="rl in placas">-->
                        <td>{{$index + 1}}</td>
                        <td>{{rl.descriPlaca}}</td>
                        <td>{{rl.ipPlaca}}</td>
                        <td>{{rl.tipoPlaca.descriTipo}}</td>
                        <td>
                <center><button class="btn btn-danger btn-sm" ng-click="eliminar(rl)" ><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-primary btn-sm" ng-click="modificar(rl)" ><span class="glyphicon glyphicon-pencil"></span></button></center>
                </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                </div>
                <div class="col col-xs-8">
                    <!--<div class="col col-xs-12">-->
                    <div>
                        <center>
                            <input type="hidden" id="paginaActual" value="0">
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage" 
                                ng-change="pageChangedFiltro()"
                                boundary-links="true"
                                id="paginacionFiltro" style="display: none"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">

                            </pagination>
                            <pagination 
                                total-items="totalItems" 
                                ng-model="currentPage"
                                style="display: none"
                                ng-change="pageChangedSinFiltro()"
                                id="paginacionSinFiltro"
                                boundary-links="true"
                                max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </pagination>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar el Registro de Placas</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <form name="demoForm2">
                        <div class="row">
                            <div class="col-md-3"><label>Descripción:</label></div>
                            <div class="col-md-8"><input type="text" class="form-control" ng-model="placaAgregar.descriPlaca"></div>
                            <div class="col-md-3"><label>Ip:</label></div>
                            <div class="col-md-8"><input type="text" class="form-control" name="demoInput1" ng-model="ipAddress1" ng-ip-address></div>
                            <span ng-if="demoForm2.demoInput1.$invalid" id="invalid" style="display: none">Invalid</span>
                            <span ng-if="demoForm2.demoInput1.$dirty && demoForm2.demoInput1.$valid" id="valid" style="display: none">Valid</span>


                            <!--                                <form name="demoForm">
                                                                <div class="row">
                                                                    <div class="col-md-3"><label>Descripción:</label></div>
                                                                    <div class="col-md-8"><input type="text" class="form-control" ng-model="placaAgregar.descriPlaca"></div>
                                                                    <div class="col-md-3"><label>Ip:</label></div>
                                                                    <div class="col-md-8"><input type="text" class="form-control" name="demoInput1" ng-model="ipAddress1" ng-ip-address></div>
                                                                    <span ng-if="demoForm.demoInput1.$invalid" id="invalid" style="display: none">Invalid</span>
                                                                    <span ng-if="demoForm.demoInput1.$dirty && demoForm.demoInput1.$valid" id="valid" style="display: none">Valid</span>
                                                                    <div class="col-md-3"><label>Tipo Placa: </label></div>
                                                                    <div class="col-md-8"><div custom-select="g for g in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="placaAgregar.tipoPlaca" ng-model="idTipoPlaca"></div></div>
                                                                    <button type="button" ng-click="ejecutar()">ACAITE</button>
                                                                </div>
                                                            </form>-->






                            <div class="col-md-3"><label>Tipo Placa: </label></div>
                            <div class="col-md-8"><div custom-select="g for g in nestedItemsLevel1 | filter: $searchTerm" custom-select-options="placaAgregar.tipoPlaca" ng-model="idTipoPlaca"></div></div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="registrar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
<div class="modal fade" id="modalModificar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Confirmar la modificación</h4>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" ng-model="idUsu">-->
                <div class="form-group">
                    <form name="demoForm">
                        <div class="row">
                            <input type="hidden" ng-model="placaModificar.idPlaca">
                            <div class="col-md-2"><label>Descripción:</label></div>
                            <div class="col-md-10"><input type="text" class="form-control" ng-model="placaModificar.descriPlaca"></div>
                            <div class="col-md-2"><label>Ip Placa:</label></div>
                            <!--<div class="col-md-10"><input type="text" class="form-control" ng-model="//placaModificar.ipPlaca"></div>-->
                            <div class="col-md-8"><input type="text" class="form-control" name="demoInput1" ng-model="ipAddress1" ng-ip-address></div>
                            <span ng-if="demoForm.demoInput1.$invalid" id="invalid2" style="display: none">Invalid</span>
                            <span ng-if="demoForm.demoInput1.$dirty && demoForm.demoInput1.$valid" id="valid2" style="display: none">Valid</span>
                        </div>
                    </form>
                </div>

                <div class="modal-footer ">
                    <!--<span id="mensajeEnvio"></span>-->
                    <button type="button" ng-click="actualizar()" class="btn btn-success btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Confirmar</button>
                </div>
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>
</div>
