<html ng-app="domoAdminApp">
    <head>
        <title>DomoAdmin | 2017</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--PARA FILTRO DE BUSQUEDA CON FECHA-->
        <script src="../../../../../../script/lib/moment.js" type="text/javascript"></script>

        <script src="../../../script/lib/jquery.min.js" type="text/javascript"></script>
        <link href="../../../css/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <script src="../../../script/lib/angularjs.js" type="text/javascript"></script>
        <!--<link href="../../../css/listBoxCss.css" rel="stylesheet" type="text/css"/>-->

        <!START pagination-->
    <script src="../../../script/lib/angular-animate.js" type="text/javascript"></script>
    <script src="../../../script/lib/angular-sanitize.js" type="text/javascript"></script>
    <!--<script src="../../../script/lib/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>-->
    <script src="../../../script/lib/ui-bootstrap-0.11.0.js" type="text/javascript"></script>
    <!FINISH <!pagination-->
        <link href="../../../css/estiloCombo.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="../../../css/checkBoxStyle.css" rel="stylesheet" type="text/css"/>

        <link href="../../../css/lib/sweet_alert/sweetalert.css" rel="stylesheet" type="text/css"/>

        <link rel="icon" type="image/png" href="../../../img/icon_1.png" />

        <!--template-->
        <link href="../../../template/css/datepicker.css" rel="stylesheet" type="text/css"/>
        <link href="../../../template/css/styles.css" rel="stylesheet" type="text/css"/>

        <!--Icons-->
        <script src="../../../template/js/lumino.glyphs.js" type="text/javascript"></script>
        <link href="../../../template/css/datepicker.css" rel="stylesheet" type="text/css"/>

        <link href="../../../css/pickList.css" rel="stylesheet" type="text/css"/>
        <script src="../../../script/lib/angular-ip-adress-validate.js" type="text/javascript"></script>
        <!--<script src="../../../https://rawgit.com/CautemocSg/ng-ip-address/master/ngIpAddress.min.js"></script>-->

    </head>
    <body ng-controller="menuCtrl">

        <!--<body >-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#"><span>{{nomUsu}}</span>{{apeUsu}}</a>-->
                    <a class="navbar-brand" ng-click="reload()"><span>Admin</span>instración</a>
                    <ul class="user-menu">
                        <li class="dropdown pull-right">
                            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{userLog}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                               <!-- <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>-->
                                <li><a href="../../../menu.html"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Regresar al Menú</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <form role="search">
                <div class="form-group">
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                </div>
            </form>
            <ul class="nav menu">
                <li class="active"><a href="../../../menu.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Menú del Sistema</a></li>
                <li>
                    <a class="" href="#" ui-sref="personas">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Edificio 01
                    </a>
                </li>
                <li>
                    <a class="" href="#" ui-sref="usuarios">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Edificio 02
                    </a>
                </li>
                <li>
                    <a class="" href="#" ui-sref="roles">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Edificio 03
                    </a>
                </li>
                <li id="fingerPrint_view">
                    <a class="" ui-sref="fingerPrint">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Edificio 04
                    </a>
                </li>
                <li>
                    <a class="" href="#" ui-sref="historial_acceso">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Edificio 05
                    </a>
                </li>
            </ul>
            <!--<div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/><a href="http://www.glyphs.co" style="color: #333;">Icons by Glyphs</a></div>-->
        </div><!--/.sidebar-->

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a ng-click="reload()"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li class="active"></li>Edificio Diego
                </ol>
            </div><!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edificio Diego</h1>
                </div>
            </div><!--/.row-->

            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="panel panel-blue panel-widget ">
                        <div class="row no-padding">
                            <div class="col-sm-3 col-lg-5 widget-left">
                                <svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>
                            </div>
                            <div class="col-sm-9 col-lg-7 widget-right">
                                <div class="large">5</div>
                                <div class="text-muted">Edificio 01</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="panel panel-blue panel-widget">
                        <div class="row no-padding">
                            <div class="col-sm-3 col-lg-5 widget-left">
                                <svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>
                            </div>
                            <div class="col-sm-9 col-lg-7 widget-right">
                                <div class="large">5</div>
                                <div class="text-muted">Edificio 02</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="panel panel-blue panel-widget">
                        <div class="row no-padding">
                            <div class="col-sm-3 col-lg-5 widget-left">
                                <svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>
                            </div>
                            <div class="col-sm-9 col-lg-7 widget-right">
                                <div class="large">24</div>
                                <div class="text-muted">Edificio 03</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="panel panel-blue panel-widget">
                        <div class="row no-padding">
                            <div class="col-sm-3 col-lg-5 widget-left">
                                <svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>
                            </div>
                            <div class="col-sm-9 col-lg-7 widget-right">
                                <div class="large">25.2k</div>
                                <div class="text-muted">Edifcio 04</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">EDIFICIO 01</div>
                        <div class="panel-body">
                            <div class="canvas-wrapper">
                                <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>	<!--/.main-->

        <!--<script src="../../../script/lib/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../../script/lib/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../../script/lib/base64.js" type="text/javascript"></script>
        <script src="../../../script/lib/sweetalert-dev.js" type="text/javascript"></script>

        <script src="../../../script/lib/customSelect.js" type="text/javascript"></script>

        <!--CHART-->
        <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>  
        <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>  
        <!--FIN CHART-->

        <script src="../../../script/lib/angular-route.js" type="text/javascript"></script>
        <script src="../../../script/lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="../../../script/lib/ngCookies.js" type="text/javascript"></script>
        <script src="../../../script/app.js" type="text/javascript"></script>

        <script src="../../../script/controller/usuario-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/controlAcceso-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/roles-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/modulo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/marca-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/dependencia-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/ciudad-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoEdificio-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/personas-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/andeCategoria-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/placa-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/elemento-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/parametro-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/fallido-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/accesoFinger-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoComponente-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tarifas-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/edificios-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/nodos-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/componentes-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/administracion-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/manejo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoPlaca-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/placaPin-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/tipoPlacaPin-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/plan-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/consumo-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/consumoGral-controller.js" type="text/javascript"></script>
        <script src="../../../script/controller/nodoPin-controller.js" type="text/javascript"></script>

        <script src="../../../script/service/usuario-service.js" type="text/javascript"></script>
        <script src="../../../script/service/persona-service.js" type="text/javascript"></script>
        <script src="../../../script/service/controlAcceso-service.js" type="text/javascript"></script>
        <script src="../../../script/service/rol-service.js" type="text/javascript"></script>
        <script src="../../../script/service/modulo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/marca-service.js" type="text/javascript"></script>
        <script src="../../../script/service/dependencia-service.js" type="text/javascript"></script>
        <script src="../../../script/service/ciudad-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoEdificio-service.js" type="text/javascript"></script>
        <script src="../../../script/service/andeCategoria-service.js" type="text/javascript"></script>
        <script src="../../../script/service/placa-service.js" type="text/javascript"></script>
        <script src="../../../script/service/elemento-service.js" type="text/javascript"></script>
        <script src="../../../script/service/parametro-service.js" type="text/javascript"></script>
        <script src="../../../script/service/fallido-service.js" type="text/javascript"></script>
        <script src="../../../script/service/accesoFinger-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoComponente-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tarifas-service.js" type="text/javascript"></script>
        <script src="../../../script/service/edificios-service.js" type="text/javascript"></script>
        <script src="../../../script/service/nodos-service.js" type="text/javascript"></script>
        <script src="../../../script/service/componentes-service.js" type="text/javascript"></script>
        <script src="../../../script/service/entidad-service.js" type="text/javascript"></script>
        <script src="../../../script/service/administracion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoPlaca-service.js" type="text/javascript"></script>
        <script src="../../../script/service/tipoPlacaPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/placaPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/plan-service.js" type="text/javascript"></script>
        <script src="../../../script/service/consumo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/consumoGral-service.js" type="text/javascript"></script>
        <script src="../../../script/service/control_nodo-service.js" type="text/javascript"></script>
        <script src="../../../script/service/nodoPin-service.js" type="text/javascript"></script>
        <script src="../../../script/service/funcion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/rol_funcion-service.js" type="text/javascript"></script>
        <script src="../../../script/service/usuarioRol-service.js" type="text/javascript"></script>

        <!--template-->
        <script src="../../../template/js/chart.min.js" type="text/javascript"></script>
        <script src="../../../script/pickList.js" type="text/javascript"></script>


    </body>
</html>